<div fxFlexAlign="center center" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="center center" fxLayoutAlign.sm="center center"
  fxLayoutAlign.gt-sm="center center">
  <mat-toolbar color="primary">
    <span>
      <img src="/assets/Images/logoyelp.png" height=30 width=41>
    </span>
    <a mat-button routerLink="/home">
      <span class="fa fa-home fa-lg"></span> Home</a>
    <a *ngIf="authService.loggedIn()" mat-button routerLink="/profile">
      <span class="fa fa-info fa-lg"></span> Profile</a>

    <app-signup></app-signup>

  </mat-toolbar>
</div>